/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Audrey-Medium';
    src: url('fonts/Audrey 1.0/Audrey 1.0/Audrey-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Audrey-NormalOblique';
    src: url('fonts/Audrey 1.0/Audrey 1.0/Audrey-NormalOblique.otf') format('opentype');
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}

/* Header Styles */
header {
    display: flex;
    /*gap: 50px;*/
    justify-content: center;
    /*background-color: blue;*/
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/header_image.jpg');
    /*background-image: url('images/header_image.jpg');*/
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    align-items: center;
    /*padding: 50px 20px;*/
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*.header_items {
    display: flex;
    align-items: center;
}*/

header img {
    max-height: 200px;
    width: auto;
    border-radius: 50%;
    /*margin-left: 300px;*/
    padding: 20px;
}

/*.header_items .header_text {
    margin-right: 50px;
}*/

.header_text h1 {
    text-align: center;
    font-size: 2.5em;
    font-family: "Roboto";
    font-weight: 500; 
    margin-bottom: 10px;
}

.header_text p {
    text-align: center;
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    font-size: 1.2em;
    /*padding: 20px;*/
}

/* Main Section Styles */
main {
    max-width: 900px;
    margin: 40px auto;
}

.content {
    /*display: flex;*/
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 100vh;*/
}

.content h2 {
    font-size: 1.8em;
    text-align: center;
    font-family: 'Playfair Display';
    margin-bottom: 10px;
}

.content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.content img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}

.content ul {
    list-style-type: none;
}

.content ul li {
    margin: 10px 0;
    text-align: center;
}

.content a {
    color: blue;
    text-decoration: none;
    /*text-align: center;*/
}

.content a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 0.8em;
}
