/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Audrey-Medium';
    src: url('fonts/Audrey 1.0/Audrey 1.0/Audrey-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Audrey-NormalOblique';
    src: url('fonts/Audrey 1.0/Audrey 1.0/Audrey-NormalOblique.otf') format('opentype');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url('fonts/Lato/Lato-LightItalic.ttf') format('truetype');
}

body {
    /*font-family: 'Helvetica';*/
    background-color: #f7f7f7;
    color: #333;
    /*line-height: 1.6;*/
    padding: 0 20px; /*comment this to remove white side box borders*/
}

/* Header Styles */
header {
    width: 100%;
    display: flex;
    /*gap: 50px;*/
    justify-content: center;
    /*background-color: blue;*/
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/header_image.jpg');
    /*background-image: url('images/header_image.jpg');*/
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    align-items: center;
    /*padding: 50px 20px;*/
    /*border-radius: 8px;*/
    margin-bottom: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

/*.header_items {
    display: flex;
    align-items: center;
}*/

header img {
    max-height: 200px;
    width: auto;
    border-radius: 50%;
    /*margin-left: 300px;*/
    padding: 20px;
}

/*.header_items .header_text {
    margin-right: 50px;
}*/

.gradient_text_1 {
    background: linear-gradient(to right, #4facfe, #a150e9, #fa71cd, #ffa726, #ffeb3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.header_text h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Lato-Regular';
    /*font-weight: 500;*/
    /*margin-bottom: 10px;*/
}

.header_text p {
    text-align: center;
    font-family: 'Lato-LightItalic';
    /*font-weight: 400;*/
    /*font-style: italic;*/
    font-size: 1.5em;
    /*padding: 20px;*/
}

/* Main Section Styles */
main {
    /*max-width: 900px;*/
    width: 100%;
    /*margin: 40px auto;*/
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}

.display1 {
    display: flex;
    gap: 20px;
}

section {
    flex: 1;
}

.gradient_text_2 {
    background: linear-gradient(to right, blue, purple, pink, red, orange);
    /*background: linear-gradient(to right, #0a74da, #89cff0, #b3d9ff);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about_me {
    /*display: flex;*/
    /*background-color: white;*/
    /*background: linear-gradient(rgba(0, 0, 255, 0.8), rgba(255, 255, 255, 0.8));*/
    background: linear-gradient(to bottom, #0a103b, #1d2977, #8693d6, #d5e4ff);
    /*padding: 20px;*/
    /*margin-top: 20px;
    margin-bottom: 20px;*/
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 100vh;*/
}

.about_me h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Lato-Regular';
    color: white;
    /*padding: 0;*/
    margin-top: 20px;
    line-height: 1.5;
}

.about_me h2 {
    font-size: 2.5em;
    text-align: center;
    font-family: 'Lato-Regular';
    color: rgb(211, 211, 280);
    /*padding: 0;*/
    /*margin-top: 5px;*/
    /*margin-bottom: 10px;*/
    line-height: 0.2;
}

.about_me p {
    font-size: 1.2em;
    font-family: 'Helvetica';
    color: white;
    line-height: 1.2;
    font-style: bold;
    padding: 40px;
    margin-bottom: 20px;
}

/*.about_me img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}*/

.blog {
    background: linear-gradient(rgba(0, 0, 255, 0.8), rgba(255, 255, 255, 0.8));
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Lato-Regular';
    color: rgb(211, 211, 300);
    margin-top: 10px;
    margin-bottom: 30px;
    /*line-height: 1.5;*/
}

.blog ul {
    list-style-type: none;
    /*line-height: 1.2;*/
    margin-bottom: 10px;
}

.blog ul li {
    /*margin: 10px 0;*/
    font-size: 1em;
    font-family: 'Helvetica';
    /*color: white;*/
    /*line-height: 1.2;*/
    /*font-weight: bold;*/
    text-align: center;
}

.blog a {
    /*font-size: 1.2em;
    font-family: 'Helvetica';*/
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 86, 140);
    /*font-weight: bold;*/
    border-radius: 20px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;*/
}

.blog a:hover {
    text-decoration: none;
    background-color: rgb(0, 86, 180);
}

.linkedin {
    background: linear-gradient(rgba(0, 0, 255, 0.8), rgba(255, 255, 255, 0.8));
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.linkedin h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Lato-Regular';
    color: rgb(211, 211, 300);
    margin-top: 10px;
    margin-bottom: 30px;
}

.linkedin ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.linkedin ul li {
    font-size: 1.2em;
    font-family: 'Helvetica';
    font-style: bold;
    text-align: center;
}

.linkedin a {
    color: blue;
    text-decoration: none;
}

.linkedin a:hover {
    text-decoration: underline;
}

.projects {
    background: linear-gradient(rgba(0, 0, 255, 0.8), rgba(255, 255, 255, 0.8));
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projects h1 {
    font-size: 4em;
    text-align: center;
    font-family: 'Lato-Regular';
    color: rgb(211, 211, 300);
    margin-top: 10px;
    margin-bottom: 30px;
}

.projects ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.projects ul li {
    font-size: 1.2em;
    font-family: 'Helvetica';
    color: black;
    font-style: bold;
    text-align: center;
}

.projects a {
    color: blue;
    text-decoration: none;
}

.projects a:hover {
    text-decoration: underline;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    line-height: 1;
    border-radius: 12px;
    margin-bottom: 10px;
}

footer p {
    font-size: 0.8em;
    font-family: 'Helvetica';
    font-style: bold;
}
